:root
{
    --darkBlue: #1d274b;
    --ultraDarkBlue: #0d0f1f;
    --lightBlue: #5f8fce;
    --lightBlue: #5f8fce;
    --white: #fff;
    --lightGray: #b1b1b1;
}

nav
{
    background-color: var(--darkBlue);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 5rem;
}